.header {
	background-color: #4c8ac0;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.item {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: table-cell;
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
}

.item:hover {
	background-color: #175992;
}

.item:active,
.item.active {
	background-color: #7d97ad;
	color: #4c8ac0;
}
